.container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.textarea {
    height: 100%;
    width: 100%;
    resize: none;
    font-family: "Courier New", Courier, monospace;

    background-color: transparent;
}
