:root {
    --border-color: #ccc;
    --selected-background-color: #007bff;
    --selected-text-color: #fff;
    --text-muted: #666;
    --background-color-light: #f8f9fa;
    --primary-color: #007bff;
    --primary-color-dark: #0056b3;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.search-input {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.list-container {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.item {
    padding: 8px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

.item:last-child {
    border-bottom: none;
}

.item.selected {
    background-color: var(--selected-background-color);
    color: var(--selected-text-color);
}

.item-name {
    font-weight: bold;
}

.item-description {
    font-size: 0.9em;
    color: var(--text-muted);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-pane {
    margin-top: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--background-color-light);
    flex-shrink: 0;
    padding: 0;
}

.detail-summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 16px;
}

/* Webkitブラウザのデフォルトマーカーを非表示にする */
.detail-summary::-webkit-details-marker {
    display: none;
}

/* 閉じたときのアイコン */
.detail-summary::after {
    content: "+";
    font-size: 1.5em;
    line-height: 1;
    margin-left: 10px;
}

/* 開いたときのアイコン */
.detail-pane[open]>.detail-summary::after {
    content: "−";
}

.detail-name {
    flex-grow: 1;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
}

.detail-description,
.detail-note,
.detail-coordinates {
    margin-bottom: 4px;
    margin-top: 0;
    padding: 0 16px;
}

.map-button {
    margin-top: 8px;
    padding: 8px 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.map-button:hover {
    background-color: var(--primary-color-dark);
}
